/*项目页面内样式集合*/
body {
    font-family: "微软雅黑", serif;
    line-height: 1.42857143;
}

a {
    color: #337ab7;
}

.meta-banner-fluid,
.meta-footer,
.meta-header {
    min-width: 1200px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/*头部开始*/
.head_top {
    height: 120px;
    margin: 0 auto;
    background-color: #B4010F;
    background-image: url(../imgs/header_bg.jpg);
    background-position:center;
    background-size: auto 100%;
}
.head_top .container{
    height:100%;
}
.head_top .head_logo {
    position: absolute;
    left: 20px;
    top: 20px;
}

.head_top .head_tool {
    position: absolute;
    right: 10px;
    top: 20px;
}

.head_top .head_tool a {
    color: #fff;
    font-size: 16px;
    margin: 0 5px;
}
.head_top .head_tool .quit{
    cursor: pointer;
}

.head_menu {
    background: #A0010D;
    border-top: 1px solid #7C010B;
}

.head_menu ul li {
    float: left;
    height: 50px;
}

.head_menu ul li a {
    color: #fff;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 18px;
    width: 140px;
}
.head_menu ul li.menu_line {
    width: 4px;
    background-image: url(../imgs/menu_line.png);
    background-repeat: no-repeat;
    background-position: center;
}

/*头部结束*/
/*中间广告*/
.meta-banner-fluid {
    background-image: url(../imgs/big_banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    height: 380px;
}

/*主体内容*/
.meta-row {
    margin: 25px auto;
}

.meta-row-second {
    padding-top: 10px;
}

.meta-row-left {
    width: 61%;
    float: left;
}

.meta-row-right {
    width: 35.5%;
    float: right;
}

.meta-row-centerL {
    width: 47.5%;
    float: left;
}

.meta-row-centerR {
    width: 47.5%;
    float: right;
}

.meta-title {
    position: relative;
    color: #222222;
    font-size: 20px;
    font-weight: normal;
    padding-left: 15px;
    border-bottom: 1px solid #822A2C;
    margin-bottom: 10px;
}

.meta-title:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 5px;
    height: 22px;
    background-color: #822A2C;
}

.meta-title a {
    position: absolute;
    right: 0px;
    bottom: 0;
    padding: 5px 0 5px 10px;
    color: #822A2C;
    font-size: 12px;
}

.meta-title a:hover {
    text-decoration: underline;
}

.new_box dl {
    position: relative;
    padding: 23px 0;
    border-bottom: 1px dotted #e3e3e3;
}

.new_box dl dt {
    width: 200px;
    float: left;
}

.new_box dl dt img {
    width: 100%;
    display: block;
}

.new_box dl dd {
    width: 70.5%;
    float: left;
    margin-left: 15px;
    color: #333;
    overflow: hidden;
    max-height: 80px;
}

.new_box dl dd.new_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.new_box dl dd.new_time {
    width: auto !important;
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: #822A2C;
    font-size: 14px;
    margin: 0;
}

.new_box dl dd a {
    color: #333;
}

.new_box dl dd a:hover {
    color: #D35D59;
}

.new_box_second dl.first_list dt {
    width: 150px;
}

.new_box_second dl.first_list dd {
    width: 62%;
    float: right;
}

.new_box_second dl dd.new_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.new_box_second dl {
    padding: 24px 0;
}

.new_box_second dl dd {
    width: auto;
    float: none;
}

.meta-row-centerL.new_box dl dd,
.meta-row-centerR.new_box dl dd {
    width: 62%;
}

.meta-row-centerL.new_box dl,
.meta-row-centerR.new_box dl {
    margin-bottom: 10px;
}

.meta-list ul li {
    overflow: hidden;
    font-size: 16px;
}

.meta-list ul li a {
    color: #333333;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 38px;
    max-width: 68%;
    float: left;
}

.meta-list ul li a:hover {
    color: #822A2C;
    text-decoration: underline;
}

.meta-list .meta-list-arrow {
    float: left;
    color: #666;
    margin-right: 5px;
    line-height: 38px;
}

.meta-list .meta-list-time {
    float: right;
    line-height: 38px;
    color: #333333;
    margin-right: 5px;
}

.meta_stitle {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    padding-left: 15px;
    margin-bottom: 10px;
    height: 24px;
    line-height: 24px;
    background-image: url(../imgs/title_bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}

.meta_stitle:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 10px;
    right: 0;
    height: 1px;
    background-color: #822A2C;
}

.meta_stitle a {
    position: absolute;
    right: 0px;
    bottom: 0;
    padding: 5px 0 5px 10px;
    color: #822A2C;
    font-size: 12px;
}

.meta_stitle a:hover {
    text-decoration: underline;
}

/*精彩幻灯*/
.meta_imglist {
    padding: 30px 0 10px;
}

.meta_imglist ul {
    margin-bottom: 0;
    overflow: hidden;
    zoom: 1;
}

.meta_imglist ul li {
    float: left;
    _display: inline;
    overflow: hidden;
    text-align: center;
    margin: 0px 12px;
    position: relative;
    width: 275px;
}

.meta_imglist li img {
    width: 100%;
}

.meta_imglist li a {
    display: block;
    font-size: 18px;
    color: #454545;
    text-align: center;
}

/*健康咨询*/
.meta-panel-cont ul {
    margin-bottom: 0;
    overflow: hidden;
    zoom: 1;
}

.meta-panel-cont ul li {
    float: left;
    _display: inline;
    overflow: hidden;
    text-align: center;
    margin: 0px 12px;
    position: relative;
    width: 275px;
    background-color: #f4f3f3;
    border: 1px solid #ddd;
}

.meta-panel-cont ul li img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 25px auto 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.meta-panel-cont ul li .doctor_name {
    font-size: 16px;
    color: #000;
    display: block;
    font-weight: bold;
}

.meta-panel-cont ul li p {
    color: #454545;
    font-size: 16px;
    overflow: hidden;
    padding: 2px 25px;
    line-height: 24px;
}

.meta-panel-cont ul li p.text_over {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.meta-panel-cont ul li .doctor_num {
    overflow: hidden;
    padding: 20px 0;
    font-size: 16px;
}

.meta-panel-cont ul li .doctor_num span {
    display: inline-block;
    float: left;
    width: 50%;
}

.meta-panel-cont ul li .doctor_num span b {
    font-weight: normal;
    color: #f00;
}

.meta-panel-cont ul li p.text_tworow {
    height: 56px;
    padding-top: 8px;
    background-color: #fff;
}

.meta-panel-cont ul li .doctor_opera {
    background-color: #fff;
}

.meta-panel-cont ul li .doctor_opera {
    overflow: hidden;
    padding: 13px 0 5px;
}

.meta-panel-cont ul li .doctor_opera span {
    float: left;
    width: 33.33%;
}

.meta-panel-cont ul li .doctor_opera span a {
    display: block;
    width: 70px;
    margin: 0px auto;
    height: 30px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    background: url(../imgs/btn.png) center no-repeat;
}

/*底部*/
.meta-footer {
    margin-top: 30px;
    background-color: #98020E;
}

.meta-copyright {
    padding: 20px 0 0;
    text-align: left;
    position: relative;
    /*ie8以下不兼容处理背景色*/
    /*background-color: #822A2C;*/
}

.meta-copyright .meta-sitemap {
    text-align: justify;
    padding: 0px 0 10px;
    word-wrap: break-word;
}

.meta-copyright .meta-sitemap a {
    color: #fff;
    font-size: 16px;
    padding: 6px 20px;
    cursor: pointer;
    display: inline-block;
}

.meta-copyright .meta-sitemap a:hover {
    text-decoration: underline;
}

.meta-siteinfo {
    color: #fff;
    position: relative;
    padding: 10px 400px 0px 100px;
    min-height: 170px;
}

.meta-siteinfo p {
    line-height: 24px;
    margin-top: 20px;
}

.meta-siteinfo img.logo_bottom {
    position: absolute;
    left: 10px;
    top: 45px;
}

.meta-siteinfo .img_code {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    width: 350px;
}

.meta-siteinfo .img_code div {
    float: left;
    width: 50%;
    font-size: 16px;
    text-align: center;
}

.meta-siteinfo .img_code div img {
    width: 100px;
    margin: 15px auto 0;
    display: block;
}

.meta-subbanner {
    padding: 80px 0;
}

.meta-subbanner .banseo {
    width: 728px;
    margin: 0 auto;
    position: relative;
}

.meta-subbanner .bantxt {
    width: 100%;
    height: 60px;
    opacity: 1;
    background-color: #eceff1;
    border-radius: 5px;
    padding-left: 50px;
    border: 0px;
    color: #000;
}

.meta-subbanner .bantxt:focus {
    border-color: transparent;
    box-shadow: none;
}

.meta-subbanner .bantxt:focus + .seoicn {
    color: #3ea1e2;
    transition: all 1s ease 0s;
}

.meta-subbanner .seoicn {
    position: absolute;
    left: 20px;
    top: 17px;
    color: #b0bec5;
    font-size: 18px;
}

.meta-subbanner .banbutt {
    position: absolute;
    top: 0px;
    right: 0;
    height: 60px;
    width: 150px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #0076BD;
    background: -webkit-linear-gradient(top, #008EE3 0, #007BC6 100%);
    background: linear-gradient(to bottom, #008EE3 0, #007BC6 100%);
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.meta-subbanner .banbutt:hover {
    background-color: #0071B5;
    background: -webkit-linear-gradient(top, #0085D5 0, #006AAA 100%);
    background: linear-gradient(to bottom, #0085D5 0, #006AAA 100%);
}

/*新闻详情/单页*/
.meta-content {
    color: #333;
    padding: 50px 20px 20px;
}

.meta-line {
    border-bottom: 1px #CCC solid;
    text-align: right;
    color: #666;
}

.meta-content-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 0 0 20px;
}

.meta-content-info {
    font-size: 14px;
    text-align: center;
    color: #666;
    line-height: 30px;
    margin-bottom: 30px;
}

.meta-detail {
    font-size: 14px;
    padding-top: 25px;
}

.meta-detail p, .consuldetail > div {
    line-height: 1.8;
    font-size: 16px;
    text-align: justify;
    margin: 0 0 10px;
}

.consuldetail {
    padding: 30px 20px 0;
}

.consuldetail > div {
    margin-bottom: 15px;
    overflow: hidden;
}
.consul_form .patientdetail b{
     width: 150px;
 }
.consul_form .patientdetail span{
    width: 250px;
    margin-right: 100px;
}
.consuldetail > div b {
    float: left;
    width: 110px;
}

.consuldetail > div span {
    float: left;
    max-width: 80%;
    margin-right: 70px;
}

.consul_imgs img {
    width: 150px;
    margin-right: 10px;
}

/*子页面公共样式开始*/
/*表单页面样式*/
.pop-form{
    /* position: relative; */
    min-height: 500px;
}
.pop-form ul li {
    padding: 5px 0 20px;
    overflow: hidden;
}

.pop-form ul li:last-child {
    padding-bottom: 0;
}

.pop-form ul .form-control {
    min-width: 160px;
    height: 40px;
}
.pop-form ul .applytime .form-control{
    width: 540px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    border: none;
    box-shadow: none;
}

.pop-form .text-label {
    width: 130px;
    padding-left: 20px;
    text-align: left;
    line-height: 40px;
    float: left;
    font-size: 15px;
}

.pop-form ul li .pop-right {
    float: left;
    width: 75%;
}

.pop-form .pop-tips {
    color: #818181;
    font-size: 12px;
    margin-top: 2px;
}

.pop-form .upload_file {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.pop-form .files_upRar {
    display: inline-block;
    vertical-align: 2px;
    color: #D35D59;
    max-width: 480px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pop-form .upload_file input {
    border: medium solid transparent;
    cursor: pointer;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.pop-form ul li .empty-tip {
    /* float: left; */
    width: 20px;
    line-height: 34px;
    color: #f00;
    text-align: center;
    margin-left: 6px;
}

.pop-right label {
    font-weight: normal;
    margin: 0 8px;
    line-height: 34px;
}

.pop-right label input[type="radio"],
.pop-right label input[type="checkbox"] {
    vertical-align: -2px;
}

.pop-right textarea {
    display: block;
    width: 100%;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    resize: vertical;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.pop-form ul {
    margin: 30px auto;
    position: absolute;
    top: 150px;
    left: 0px;
    width: 720px;
}

.pop-form-button {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}
/*分页开始*/
/*单页*/
.meta-pagination {
    text-align: center;
    padding-top: 20px;
}

.pager {
    padding-left: 0;
    margin: 20px 0 0;
    text-align: center;
    list-style: none;
    overflow: hidden;
}

.pager li {
    display: inline;
}

.pager li > a, .pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.pager .previous > a, .pager .previous > span {
    float: left;
}

.pager .next > a, .pager .next > span {
    float: right;
}

.meta-pagination .pager li > a,
.meta-pagination .pager li > span {
    max-width: 380px;
    min-width: 148px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.meta-pagination .pager li.next a {
    padding-right: 35px;
}

.meta-pagination .pager li.next span[aria-hidden=true] {
    position: absolute;
    right: 10px;
    top: 5px;
}

.pager li > a:hover, .pager li > a:focus {
    background-color: #eee;
    text-decoration: none;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    background-color: #fff;
    color: #777;
    cursor: not-allowed;
}

/*列表*/
/*bootstrap分页*/
.pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 20px 0;
    padding-left: 0;
}

.pagination > li {
    display: inline;
}

.pagination > li > a, .pagination > li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #337ab7;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    background-color: #eee;
    border-color: #ddd;
    color: #23527c;
    z-index: 2;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
    cursor: default;
    z-index: 3;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    background-color: #fff;
    border-color: #ddd;
    color: #777;
    cursor: not-allowed;
}

.et-page {
    overflow: hidden;
    padding: 20px 0 10px;
}

.et-page ul.pagination {
    margin: 0px auto;
    float: right;
    user-select: none;
}

.et-page .et-pagenum {
    float: left;
}

.et-page .et-pagenum select, .et-page .et-pagego input {
    width: 60px;
    border-color: #CCC;
    border-radius: 4px;
    text-align: center;
    margin: 0px 10px;
    outline: 0 none;
    padding: 6px 3px;
}

.et-page .et-pagego {
    float: right;
}

.et-page .et-pagetotal {
    margin:0 10px;
}

.btnGoPage {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #459DF6;
    color: #fff;
    user-select: none;
}

.btnGoPage:hover {
    background-color: #55A6F7;
}

.btnGoPage:active {
    background-color: #288EF4;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #459DF6;
    border-color: #459DF6;
}

/*分页结束*/
/*表单*/
/*表单原始值*/
.form-control, input.form-control {
    display: inline-block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/*按钮*/
.et-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.et-btn.active.focus, .et-btn.active:focus, .et-btn.focus, .et-btn.focus:active, .et-btn:active:focus, .et-btn:focus {
    outline-offset: -2px;
}

.et-btn.focus, .et-btn:focus, .et-btn:hover {
    text-decoration: none;
}

.et-btn.active, .et-btn:active {
    background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    outline: 0 none;
}

/*会诊转诊*/
.consul_form, .consul_referral {
    padding: 40px 0 20px;
    position: relative;
}

.consul_title {
    font-size: 18px;
    background: #f2f3cf;
    height: 56px;
    line-height: 56px;
    padding-left: 20px;
    color:#000;
}
.consul_title span{
    font-size: 15px;
    color: #5d5d5d;
}

.consul_form .pop-form {
    width: 720px;
    margin-left: 10px;
    float: left;
}

.form_bg {
    position: absolute;
    right: 0;
    top: 150px;
    bottom: 0;
    width: 400px;
    background-image: url(../imgs/resul_bg.png);
    background-position: center top;
    background-repeat: no-repeat;
}

.refer_input {
    display: none;
}

.pop-sendtime input.form-control {
    width: 250px;
}

.pop-sendtime em {
    margin: 0px 5px;
    font-style: normal;
}
.pop-row .form-control{
    width: 183px;
}
.pop-row .pop-rowtitle{
    display:inline-block;
    text-align: left;
    line-height: 40px;
    font-size: 15px;
    width: 85px;
    margin: 0px 0 0 64px;
}

.btn-submit {
    color: #fff;
    min-width: 150px;
    height: 40px;
    line-height: 28px;
    font-size: 16px;
    background: #E72231;
    margin-left: 60px;
}

.btn-submit:hover {
    background: #EB414E;
}

.btn-submit:active {
    background: #E01827;
}

.btn-shares {
    margin-left: 0;
    min-width: 180px;
}

.btn-accept {
    color: #fff;
    min-width: 160px;
    height: 40px;
    line-height: 28px;
    font-size: 16px;
    margin-right: 40px;
    background-color: #18b408;
}

.btn-accept:hover {
    background-color: #70b412;
}

.btn-accept:active {
    background-color: #33A876;
}
.btn-creat {
    min-width: 120px;
}
.btn-refuse {
    width: 230px;
    height: 40px;
    line-height: 28px;
    font-size: 16px;
    background-color: #18b408;
    color: #fff;
}

.btn-refuse:hover {
    background-color: #33A876;
}

.btn-refuse:active {
    background-color: #D55960;
}

/*工作台 author:zhang*/
.userbody,.usercolumn {
    background-color:#F9F9F9;
}
.usercolumn .ya-boxRight{
    background-color:#FFF;
    overflow:hidden;
    position:relative;
    padding:15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius:2px;
    box-shadow:0 1px 3px #eee;
}

.usercolumn .ya-boxRight h3 .ya-add{
    right: 5px;
}
.ya-myworkbench-box {
    padding: 40px 0 10px;
    position:relative;
}
.ya-myworkbench-box .ya-boxLeft {
    width: 200px;
    /*float: left;*/
    background-color:#fff;
    position:absolute;
    left:0px;
    top:40px;
    bottom:10px;
    box-shadow:0 1px 3px #efefef;
}
.menu_left {
    background: #fff;
    height:120px;
    border-bottom: 1px solid #efefef;
}
.menu_left span{
    font-size:24px;
    padding:20px;
    display:block;
    color:#808080;
}
.ya-boxLeft ul{
    padding:20px 15px 0;
}
.ya-boxLeft ul li {
    border-bottom: 1px solid #efefef;
    font-size: 16px;
}
/*.ya-boxLeft ul li:last-child{
    border-bottom: none;
}*/
.ya-boxLeft ul li.active {
    background: #D35D59;
    border-bottom: 1px solid #D35D59;
}

.ya-myworkbench-box .ya-boxLeft ul li.active a {
    color: #fff;
}

.ya-myworkbench-box .ya-boxLeft ul li a {
    color: #333;
    line-height: 50px;
    display: block;
    text-align: center;
}
.ya-myworkbench-box .ya-boxRight {
    width: 80%;
    float: right;
    min-height:680px;
}
.ya-boxRight .ya-personalLeft,
.ya-boxRight .ya-personalRight {
    height: 350px;
    overflow:hidden;
    position:relative;
    padding:15px;
    margin-top:30px;
    background-color:#fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius:2px;
    box-shadow:0 1px 3px #eee;
}
.ya-boxRight>div:first-child{
    margin-top:0;
}
/*我的患者 begin*/
.ya-myworkbench-box .ya-boxRight h3 {
    position: relative;
    color: #222222;
    font-size: 18px;
    font-weight: normal;
    padding:5px 8px 15px;
    border-bottom: 1px solid #efefef;
}
/*.ya-boxRight h3:before {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 4px;
    height: 20px;
    background-color: #379eec;
}*/
.ya-boxRight h3 .ya-more,
.ya-boxRight h3 .ya-add {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    color: #666;
    padding:5px 10px;
    border-radius:3px;
}
.ya-boxRight h3 .ya-add:hover,
.ya-boxRight h3 .ya-more:hover{
    /*color:#1374DF;*/
    background-color:#efefef;
}
.ya-boxRight h3 .ya-add {
    right: 70px;
}
.ya-boxRight h3 .ya-add i{
    font-size:13px;
}
.ya-todoList ul {
    padding-top:10px;
}
.ya-todoList ul li {
    overflow:hidden;
    position:relative;
}
.ya-todoList ul li a{
    color: #222;
    display: inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    line-height: 48px;
    max-width: 65%;
    float:left;
    font-size: 16px;
}
.ya-todoList ul li a:hover{
    color: #a15151;
}
.ya-todoList .meta-list-arrow {
    float: left;
    color: #a15151;
    font-size: 24px;
    margin-right: 8px;
    margin-left: 5px;
    line-height: 46px;
}
.ya-todoList .meta-list-tag{
    /*position:absolute;
    left:5px;
    top:15px;*/
    position:relative;
    padding:0px 8px 0 3px;
    background-color:#D35D59;
    color: #fff;
    font-size: 16px;
    border-radius:2px;
    float:left;
    margin:16px 5px 0 1%;
    line-height: 16px;
}
.ya-todoList .meta-list-tag:after{
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 6px solid #fff;
    position:absolute;
    right:0;
    top:0;
}
.ya-todoList .meta-list-time{
    float: right;
    line-height: 48px;
    font-size: 16px;
}
.ya-myworkbench-box .ya-boxRight .ya-myPatients #ya-category {
    height: 30px;
    width: 100%;
}

.ya-myworkbench-box .ya-boxRight .ya-myPatients #ya-category span {
    float: left;
    height: 30px;
    line-height: 30px;
    width: 33.2%;
    font-size: 16px;
    text-align: center;
    color: #333;
    background: #f5f5f5;
    cursor: pointer;
}

.ya-myworkbench-box .ya-boxRight .ya-myPatients #ya-con dt {
    float: left;
    margin: 0 15px;
}

.ya-myworkbench-box .ya-boxRight .ya-myPatients #ya-con dt img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.ya-myworkbench-box .ya-boxRight .ya-myPatients #ya-con dd {
    overflow: hidden;
}

.ya-myworkbench-box .ya-boxRight .ya-myPatients #ya-con li {
    display: none;
}

.ya-myworkbench-box .ya-boxRight .ya-myPatients #ya-con li dl {
    margin-bottom: 22px;
}

.ya-myworkbench-box .ya-boxRight .ya-myPatients #ya-category span.select {
    background: #D35D59;
    color: #fff;
}

.ya-myworkbench-box .ya-boxRight .ya-myPatients #ya-con li.show {
    display: block;
}

.ya-myworkbench-box .ya-boxRight .ya-myPatients #ya-con li .fa-user {
    float: left;
    font-size: 50px;
    color: #D35D59;
}

.ya-myworkbench-box .ya-boxRight .ya-myPatients #ya-con .ya-info {
    font-size: 14px;
    margin: 10px 0;
}

.ya-myworkbench-box .ya-boxRight .ya-myPatients #ya-con .ya-info span {
    margin-right: 60px;
}

/*我的患者 end*/

/*我的会诊和我的转诊 begin*/
.ya-tab {
    position: absolute;
    top: 18px;
    left: 110px;
    font-size: 16px;
    width:44%;
}
.ya-tab span{
    float:left;
    height:40px;
    line-height:30px;
    padding:0px 8px;
    position:relative;
    text-align:center;
    cursor:pointer;
}
.ya-tab span:hover{
    color:#D35D59;
}
.ya-tab span:after{
    content:'';
    position:absolute;
    left:0;
    bottom:0;
    height:2px;
    width:100%;
    background:#efefef;
}
.ya-tab span.line{
    font-size:14px;
    color:#CCC;
    width:8px;
    padding:0;
    cursor:default;
    line-height: 29px;
    user-select:none;
}
.ya-tab span.active{
    color:#D35D59;
}
.ya-tab span.active:after{
    background:currentColor;
}
.ya-tab span.active:before{
    content: '';
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid currentColor;
    position: absolute;
    left: 50%;
    margin-left:-4px;
    bottom: 2px;
}
.ya-tab-list ul li{
    border-top:1px solid #f3f3f3;
    text-align:justify;
}
.ya-tab-list ul li a {
    display:block;
    color:#333;
    padding:13px 10px;
    overflow:hidden;
    position:relative;
}
.ya-tab-list ul li a:hover{
    background-color:#FAFAFA;
}
.ya-tab-list ul li:first-child{
    border-top:none;
}
.ya-tab-list .ya-list-title{
    color:#a15151;
    font-size: 16px;
    display:block;
    margin-bottom:5px;
    padding-right:180px;
    font-weight:bold;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.ya-tab-list .ya-list-time{
    position:absolute;
    right:10px;
    top:13px;
    color:#666;
    font-size: 16px;
}
.ya-tab-list span em{
    color:#a15151;
    color:#16a93d;
    font-weight:normal;
    font-style:normal;
    /* font-size: 16px; */
    margin-right:5px;
}
.ya-tab-list span em i{
    font-size:13px;
}
.ya-tab-list p{
    max-height:40px;
    line-height:20px;
    overflow:hidden;
    font-size: 16px;
    /*overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;*/
    margin-top: 10px;
}

.ya-myworkbench-box .ya-boxRight .ya-myConsult .ya-consultTitle span {
    float: left;
    height: 30px;
    line-height: 30px;
    width: 50%;
    font-size: 16px;
    text-align: center;
    color: #333;
    background: #f5f5f5;
    cursor: pointer;
}

.ya-myworkbench-box .ya-boxRight .ya-myConsult .ya-consultTitle span.select {
    background: #D35D59;
    color: #fff;
}

.ya-myworkbench-box .ya-boxRight .ya-myConsult .ya-consultCon li.show {
    display: block;
}

.ya-myworkbench-box .ya-boxRight .ya-myConsult .ya-consultCon li {
    display: none;
}

.ya-consultCon .ya-list-arrow {
    float: left;
    color: #666;
    margin: 0 10px;
    line-height: 38px;
}

.ya-consultCon .ya-list-consult {
    color: #333333;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 38px;
    float: left;
    font-size: 14px;
    font-weight: 700;
}

.ya-consultCon .ya-list-time {
    float: right;
    line-height: 38px;
    color: #333;
    margin-right: 10px;
    font-size: 14px;
}

.ya-consultCon .ya-describe {
    width: 366px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 22px 5px;
    font-size: 14px;
}

.ya-consultCon .ya-describe span {
    font-size: 14px;
    color: #D35D59;
}

/*我的会诊和我的转诊 end*/
/*待办事项 begin*/
.ya-todoList .ya-todolistBox {
    margin-bottom: 10px;
    line-height: 30px;
}

.ya-todoList .ya-todolistBox .fa-user-md {
    float: left;
    margin-left: 5px;
    line-height: 30px;
    font-size: 14px;
    color: #D35D59;
}

.ya-todoList .ya-todolistBox .ya-todolistTitle {
    float: left;
    font-size: 14px;
    margin-left: 5px;
    width: 220px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
}

.ya-todoList .ya-todolistBox .ya-todolistTitle:hover {
    text-decoration: underline;
    color: #D35D59;
}

.ya-todoList .ya-todolistBox .ya-todolistTime {
    float: right;
    font-size: 14px;
    margin-right: 5px;
    color: #333;
}

.ya-todoList .ya-todolistMore {
    float: right;
    font-size: 12px;
    color: #666;
}

/*待办事项 end*/
/*我的随访begin*/
.ya-access dl{
    position:relative;
    padding:12px 10px;
    border-top:1px solid #f3f3f3;
}
.ya-access dl:first-child{
    border-top:none;
}
.ya-access dl dt{
    position:absolute;
    left:10px;
    top:10px;
}
.ya-access dl dt img{
    display:block;
    width:60px;
    height:60px;
    border-radius:50%;
}
.ya-access dl dd{
    /* margin-left:70px; */
    overflow: hidden;
    white-space: nowrap;
    margin-top: 10px;
    font-size: 16px;
}
.ya-access dl dd a{
    font-weight:bold;
    float:left;
    font-size: 16px;
    color: #a15151;
}
.ya-access dl dd em{
    font-size: 16px;
    margin-left:15px;
    font-weight:normal;
    font-style:normal;
    color:#808080;
}
.ya-access dl dd span{
    float:right;
    color:#D35D59;
    margin-right:10px;
    font-size: 16px;
}
.ya-access dl dd.ya-access-name{
    padding:5px 0;
}
.ya-access dl dd.ya-access-address{
    color:#808080;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*覆盖start*/
.ya-patient dl dd{
    padding-top:5px;
}
.ya-patient dl dd em {
    font-size: 16px;
    color:#666;
}
.ya-patient dl dd.ya-access-address{
    color:#666;
    margin-top:8px;
    font-size: 16px;
}
.ya-disease .ya-list-title {
    padding-right:0;
    display:inline;
}
.ya-disease .ya-list-time {
    position:static;
    right:0;
    top:0;
    margin-left:10px;
}

/*弹出框内表单样式*/
.modal-form .pop-form ul li .pop-right {
    width: 65%;
}
.fancybox-skin {
    background-color:#fff;
}
/*覆盖end*/

.ya-myfollowUp .ya-followDetail {
    color: #333;
    margin-bottom: 10px;
}

.ya-myfollowUp .ya-followDetail li {
    margin-bottom: 10px;
}

.ya-myfollowUp .ya-followDetail dt {
    float: left;
    margin: 0 10px;
}

.ya-myfollowUp .ya-followDetail dt img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.ya-myfollowUp .ya-followDetail .ya-followName {
    font-weight: 700;
    margin-right: 10px;
}

.ya-myfollowUp .ya-followDetail .ya-followAge {
    margin-right: 10px;
}

.ya-myfollowUp .ya-followDetail .ya-followPlan,
.ya-myfollowUp .ya-followDetail .ya-followStage {
    color: darkgray;

}
.ya-myfollowUp .ya-followDetail .ya-followPlan{
    float: left;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.ya-myfollowUp .ya-followDetail .ya-followStage{
    float: right;
    width: 127px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ya-myfollowUp .ya-followDetail .ya-followAddress {
    margin: 4px;
}

/*我的随访end*/
/*病历start*/
.ya-medicalRecord .ya-medicalDetails {
    margin: 5px 0;
}
.ya-medicalRecord .ya-medicalDetails span {
    float: left;
    margin: 0 10px;
}
.ya-medicalRecord .ya-medicalInfo {
    margin: 0 10px 17px;
    font-size: 14px;
}

.ya-medicalRecord .ya-medicalInfo span {
    font-size: 12px;
    color: #D35D59;
}

/*病历end*/

/*我的患者 分页begin*/
.ya-myworkbench-box .ya-boxRight .ya-patients-page{
    width:100%;
}
.ya-boxRight .ya-patients-page #ya-category{
    height: 60px;
}
.ya-boxRight .ya-patients-page #ya-category span{
    float: left;
    width: 33.3%;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.ya-boxRight .ya-patients-page #ya-category span.select{
    color: #fff;
    background: #D35D59;
}
.ya-boxRight .ya-patients-page #ya-con{
    margin-top: 20px;
}
.ya-boxRight .ya-patients-page #ya-con li.show{
    display: block;
}
.ya-boxRight .ya-patients-page #ya-con li{
    display: none;
}
.ya-boxRight .ya-patients-page #ya-con li dl{
    margin: 15px 0;
}
.ya-boxRight .ya-patients-page #ya-con dt{
    float: left;
}
.ya-boxRight .ya-patients-page #ya-con dt img{
    display: block;
    width: 120px;
    height: 120px;
    margin:0 20px;

}
.ya-boxRight .ya-patients-page #ya-con .ya-info span,
.ya-boxRight .ya-patients-page #ya-con .ya-address,
.ya-boxRight .ya-patients-page #ya-con .ya-patient-prev{
    font-size: 14px;
    color: #333;
}

.ya-boxRight .ya-patients-page #ya-con .ya-info span{
    font-weight: 700;
    margin-right: 40px;
    font-size: 16px;
}
.ya-boxRight .ya-patients-page #ya-con .ya-address{
    margin: 10px 0;
    font-size: 16px;
}
/*我的患者 分页end*/

/*我的会诊和我的转诊 分页begin*/
.ya-myworkbench-box .ya-boxRight .ya-myConsult-page{
    width: 100%;
}
.ya-boxRight .ya-myConsult-page .ya-consultTitle{
    height: 60px;
}
.ya-boxRight .ya-myConsult-page .ya-consultTitle span{
    float: left;
    width: 50%;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.ya-boxRight .ya-myConsult-page .ya-consultTitle span.select{
    color: #fff;
    background: #D35D59;
}
.ya-boxRight .ya-myConsult-page .ya-consultCon{
    margin-top: 20px;
}
.ya-boxRight .ya-myConsult-page .ya-consultCon li.show{
    display: block;
}
.ya-boxRight .ya-myConsult-page .ya-consultCon li{
    display: none;
}
.ya-boxRight .ya-myConsult-page .ya-consultCon .ya-list-arrow,
.ya-boxRight .ya-myConsult-page .ya-consultCon .ya-list-consult,
.ya-boxRight .ya-myConsult-page .ya-consultCon .ya-list-time {
    float: left;
    font-size: 14px;
    line-height: 45px;
}
.ya-boxRight .ya-myConsult-page .ya-consultCon .ya-list-time{
    float: right;
}
.ya-boxRight .ya-myConsult-page .ya-consultCon .ya-describe{
    width: 100%;
    font-size: 14px;
    line-height: 45px;
    white-space: normal;
}
/*我的会诊和我的转诊 分页end*/
/*待办事项 分页begin*/
.ya-todolist-page .ya-todolistBox{
    height: 50px;
    font-size: 14px;
    line-height: 50px;
}
.ya-todolist-page .ya-todolistBox .ya-todolistTime{
    float: right;
}
/*待办事项 分页end*/
/*我的随访 分页begin*/
.ya-myworkbench-box .ya-boxRight .ya-myfollowup-page{
    width: 100%;
}
.ya-boxRight .ya-myfollowup-page .ya-followDetail{
    margin-top: 20px;
}
.ya-boxRight .ya-myfollowup-page .ya-followDetail li{
    margin: 20px 0;
}
.ya-boxRight .ya-myfollowup-page .ya-followDetail dl dt{
    float: left;
}
.ya-boxRight .ya-myfollowup-page .ya-followDetail dl dt img{
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 20px;
}
.ya-boxRight .ya-myfollowup-page .ya-followDetail dl dd{
    font-size: 14px;
    color: #333;
    line-height: 30px;
    margin-left:20px;
}
.ya-boxRight .ya-myfollowup-page  .ya-followDetail  li span {

    margin-right: 40px;
}
.ya-boxRight .ya-myfollowup-page  .ya-followDetail  .ya-followName,
.ya-boxRight .ya-myfollowup-page  .ya-followDetail  .ya-followAge,
.ya-boxRight .ya-myfollowup-page  .ya-followDetail  .ya-followTime{
    font-weight: 700;
}
.ya-boxRight .ya-myfollowup-page  .ya-followDetail  .ya-followAddress{
    color: darkgray;
}
.ya-boxRight .ya-myfollowup-page  .ya-followDetail  .ya-followPlan,
.ya-boxRight .ya-myfollowup-page  .ya-followDetail  .ya-followStage{

}
/*我的随访 分页end*/
/*病历 分页begin*/
.ya-myworkbench-box .ya-boxRight .ya-medicalrecord-page{
    width: 100%;
}
.ya-myworkbench-box .ya-boxRight .ya-medicalrecord-page a{
    color: #333;
}
.ya-boxRight .ya-medicalrecord-page .ya-medicalDetails{
    margin-top: 20px;
    font-size: 14px;
    line-height: 40px;
}
.ya-boxRight .ya-medicalrecord-page .ya-medicalDetails span{
    font-weight: 700;
    margin-right: 40px;
}
.ya-boxRight .ya-medicalrecord-page .ya-medicalInfo{
    font-size: 14px;
}
.ya-boxRight .ya-medicalrecord-page .ya-medicalInfo span{
    font-size: 14px;
    color: #D35D59;
}
/*病历 分页end*/
/*我的文件夹 分页begin*/
.ya-myworkbench-box .ya-boxRight .ya-myflie-page {
    width: 100%;
}
.ya-boxRight .ya-myflie-page #ya-category{
    height: 50px;
    line-height: 50px;
}
.ya-boxRight .ya-myflie-page #ya-category span.select {
    color: #fff;
    background: #18c0ec;
}
.ya-boxRight .ya-myflie-page #ya-category span {
    float: left;
    width: 33.3%;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
}
.ya-boxRight .ya-myflie-page #ya-con{
    margin-top: 20px;
    font-size: 14px;
}
.ya-boxRight .ya-myflie-page #ya-con li.show{
    display: block;
}
.ya-boxRight .ya-myflie-page #ya-con li{
    display: none;
}
.ya-boxRight .ya-myflie-page #ya-con li div{
    line-height: 50px;
    color: #333;
}
.ya-boxRight .ya-myflie-page #ya-con li div .ya-todolistTitle{
    color: #333;

}
.ya-boxRight .ya-myflie-page #ya-con li div .ya-todolistTime{
    float: right;
}
/*我的文件夹 分页end*/
/*患者详情 begin*/
.ya-boxRight .ya-patientsdetail-page #ya-con{
    margin: 10px 0;
    border-bottom: 1px solid #DEDEDE;
}
.ya-boxRight .ya-patientsdetail-page #ya-con img{
    float: left;
    width: 120px;
    height: 120px;
    margin: 0 20px;
}
.ya-boxRight .ya-patientsdetail-page #ya-con .ya-detail{
    overflow: hidden;
    color: #333;
    font-size: 14px;
    line-height: 30px;
}
.ya-boxRight .ya-patientsdetail-page .ya-prevpatient{

}
.ya-boxRight .ya-patientsdetail-page .ya-prevpatient h4{
    font-size: 16px;
    color: #D35D59;
    font-weight: 400;
    margin-left:20px ;
}
.ya-boxRight .ya-patientsdetail-page .ya-prevpatient ul{
    margin-left: 20px;
    margin-top: 10px;
    color: #333;
    font-size: 14px;
}
.ya-boxRight .ya-patientsdetail-page .ya-prevpatient ul li{
    margin-top: 10px;
    border-bottom: 1px dashed #f5f5f5;
    font-size: 14px;
}
.ya-boxRight .ya-patientsdetail-page .ya-prevpatient ul li span{
    margin-right: 30px;
}
.ya-boxRight .ya-patientsdetail-page .ya-prevpatient ul .ya-describeword{
    margin:10px 0;
}
.ya-boxRight .ya-patientsdetail-page .ya-prevpatient ul .ya-describeimg img{
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 30px;
}
/*患者详情 end*/
/*病历详情 begin*/
.ya-boxRight #ya-medicalrecorddetail{

}
.ya-boxRight #ya-medicalrecorddetail #ya-con{
    margin: 12px 20px;
}


/*病历详情 end*/

/*文字颜色闪烁*/
.unread,.unread a{
    animation: blink .75s linear infinite;
    /* 其它浏览器兼容性前缀 */
    -webkit-animation: blink .75s linear infinite;
    -moz-animation: blink .75s linear infinite;
    -o-animation: blink .75s linear infinite;
}
@keyframes blink{
    0%{color: #21c643;}
    50%{color: #fb9609;}
    100%{color: #222;}
}
@-webkit-keyframes blink {
    0%{color: #21c643;}
    50%{color: #fb9609;}
    100%{color: #222;}
}

@-moz-keyframes blink {
    0%{color: #21c643;}
    50%{color: #fb9609;}
    100%{color: #222;}
}

@-ms-keyframes blink {
    0%{color: #21c643;}
    50%{color: #fb9609;}
    100%{color: #222;}
}

@-o-keyframes blink {
    0%{color: #21c643;}
    50%{color: #fb9609;}
    100%{color: #222;}
}
/*响应式*/
@media screen and (max-width: 1400px) {

}
/*登录begin*/

.head_top .head_tool{
    line-height: 80px;
    font-size: 20px;
    color: #fff;
}

.login-wrap{
    background-image: url("../imgs/big_banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    height: 380px;
}
.login-box .login-form{
    width: 300px;
    height: 380px;
    position: absolute;
    right: 0px;
    top:0;
    background: #e0f2f5;
    padding: 20px;
    color: #18c0ec;
}
.login-box .login-form h3{
    line-height: 40px;
    border-bottom: 1px solid #f4f4f4;
    font-size: 18px;
}
.login-form ul{
    margin-top: 20px;
}
.login-form ul li{
    margin-top: 15px;
    position: relative;
}
.login-form ul li i{
    float: left;
    width: 30px;
    height: 45px;
    border: 1px solid #bdbdbd;
    border-right: none;
    font-size: 16px;
    text-align: center;
    line-height: 45px;
}
.login-form ul li input{
    float: left;
    width: 230px;
    height: 45px;
    color: #555;
}
#get-confirmcode{
    position: absolute;
    right: 3px;
    top: 3px;
    width: 105px;
    height: 39px;
    border: none;
    cursor: pointer;

}
.login-form ul li span{
    float: left;
    font-size:12px;
}
.login-form ul li a:nth-child(1){
    float: right;
    font-size:12px;
}
.login-form .login-button{
    display: block;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
    background: #18c0ec;
    cursor: pointer;
    color: #fff;
}
.login-form .info{
    float: left;
    color: red;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    visibility: hidden;
}
.login-footer,.login-footer .meta-copyright{
    background: #fff;
}
.login-footer .meta-siteinfo{
    /*background: #fff;*/
}
.login-footer .meta-siteinfo{
    color: #000;
}
/*登录end*/
/*注册begin*/
.head_top .head_register{
    position: absolute;
    left: 485px;
    top: 20px;
}
.head_top .head_login a{
    font-size: 16px;
}
#register-content{
    margin-top: 30px;
    border-bottom: 1px solid #DEDEDE;
}
#register-content .main{
    margin: 50px auto 60px;
    width: 960px;
}
.register-form{
    width: 400px;
    float: left;
}
.register-form ul li{
    width: 398px;
    height: 52px;
    position: relative;
    margin-bottom: 32px;
}
.register-form ul li label{
    position: absolute;
    top:0;
    left: 0;
    float: left;
    width: 90px;
    height: 52px;
    line-height: 52px;
}
.register-form ul li input{
    position: absolute;
    top:0;
    right: 0;
    width: 310px;
    height: 52px;
    line-height: 52px;
    color: #555;
}
.register-form ul li span{
    position: absolute;
    bottom: -26px;
    left: 0;
    color: #cccccc;
    font-size: 12px;
    /*visibility: hidden;*/
}
.register-form ul li .get-phonecode{
    position: absolute;
    right: 3px;
    top: 3px;
    width: 110px;
    height: 46px;
    border: none;
    background: #f2f2f2;
    color: #333;
    padding: 0;
    cursor: pointer;
}

.register-btn {
    width: 100%;
    height: 54px;
    color: #fff;
    background: #38d0ee;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 32px;
}
.form-bg{
    float: right;
}

/*注册end*/
/*流程图start*/
.ui-container {}
.ui-content {
    margin: 0 auto;
    width: 990px;
}


.page-path,
.page-content {
    margin-bottom: 10px;
    padding: 10px;
    background: #f6fafa;
    border: 1px solid #e6e6e6;
}

.page-content {
    padding: 0;
    background: #fbfbfb;
}
.page-content-item {
    margin-bottom: 10px;
}
.page-content-item-title {
    padding: 10px;
    background: #e0f5f1;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    color: #009999;
    font-size: 16px;
    font-family: 微软雅黑;
    font-style: italic;
    font-weight: bold;
}
.page-content-item p {
    padding: 10px 20px;
}

.ui-form {
    margin: 0 0 20px 0;
}
.ui-form-item {
    float: left;
    height: 30px;
    padding: 0 5px 10px 170px;
}
.ui-input {
    padding: 5px 9px;
}
.page-content-item-label {
    color: red;
}

.filelist {
    float: left;
    width: 300px;
    margin: 0 10px 0 20px;
}
.fileinfo {
    float: left;
    width: 434px;
    margin-right: 20px;
}
.ui-list-item {
    list-style: none;
}
.ui-list-item-img {
    float: left;
    display: inline-block;
    width: 22px;
    height: 21px;
    margin-right: 10px;
    background: url(../imgs/all.png);
}
.filelist .ui-list-item-text {
    float: left;
    width: 250px;
    height: 21px;
    overflow:hidden;
}
.ui-list-item-progress {
    float: left;
    display: inline-block;
    width: 220px;
    height: 10px;
    margin-top: 5px;
    margin-left: 30px;
    border: 1px solid #0099ff;
}
.ui-list-item-progress-percent {
    float: left;
    width: 0;
    height: 10px;
    background: #0099ff;
}
.ui-list-item-delete {
    float: right;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-top: 5px;
    background: url(../imgs/cancel.png) no-repeat;
}

.ui-form-item {
    padding-left: 120px;
}

.ui-form-item .ui-input-text{
    margin: 5px 0;
}

.ui-label {
    width: 120px;
    margin-left: -130px;
    font-size: 12px;
    font-family: 宋体;
    color: #666666;
    padding-top:3px;
}

.submit-btn,
.reset-btn{
    background-image: url(../imgs/btn.png);
    background-repeat: no-repeat;
}

.table-btn {
    text-align: center;
}
.submit-btn,
.reset-btn {
    width: 135px;
    height: 37px;
    border: none;
    cursor: pointer;
}

.submit-btn {
    margin-right: 20px;
    background-position: 0 -32px;
}

.reset-btn {
    margin-left: 20px;
    background-position: 0 -69px;
}
.error-label{
    text-align:left;
    margin-left:0px;
}

.page-panel-title{
    height: 24px;
    line-height: 24px;
    padding: 10px 30px;
    background: #e0f5f1;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    font-family: 微软雅黑;
    font-weight: bold;
}
.page-panel-title-left{
    float: left;
    color: #009999;
    font-size: 16px;
    font-style: italic;
}
.page-panel-title-right{
    float: right;
    color: #FF6700;
    font-size: 14px;

}
.intro-flow{
    margin-top: 50px;

}
.intro-list{

}

.intro-list-left{
    float: left;
    text-align: right;
    width: 20%;
    font-size: 16px;
    font-weight: bold;
    font-family: 微软雅黑;
    color: #333333;
    padding: 8px;
}
.intro-list-right{
    float: left;
    width: 80%;
    text-align: left;
    padding-bottom: 30px;
    background: url(../imgs/ling-bg.jpg) repeat-y 13px;
    position: relative;

}
.intro-list-right p{
    position: absolute;
    right: 130px;
    bottom: 5px;
    cursor: pointer;
    color: #0cb407;
}
.intro-list-last .intro-list-right{
    padding-bottom: 0px;
    background: url(../imgs/ling-bg.jpg) repeat-y 13px;
}

.intro-list-right>span{
    float: left;
    background: url(../imgs/circle.png);
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    display: block;

}
.intro-list-content{
    float: left;
    border: 1px solid #7ce06d;
    border-radius: 6px;
    background-color: #eaffce;
    color: #666666;
    font-size: 16px;
    padding: 10px 20px;
    position: relative;
    left: 25px;
    width: 80%;
    line-height: 24px;

}
.intro-list-content:before,.intro-list-content:after{
    content:"";
    border-width:9px;
    position:absolute;
    left:-18px;
    border-style:solid dashed dashed;
    border-color:transparent #A8E0DC transparent transparent;
}
.intro-list-content:after{
    left:-17px;
    top: 10px;
    border-color:transparent #e3ffb3 transparent transparent;
}
.intro-list-active>.intro-list-left{
    color: #ff6600;

}
.intro-list-active>.intro-list-right>span{
    background: url(../imgs/circle-active.png);
}

.intro-list-active .intro-list-content{
    border-color: #FFB48F;
    background-color:#FFF8F0;
}
.intro-list-active .intro-list-content:before,.intro-list-active .intro-list-content:after{
    border-color:transparent #FFB48F transparent transparent;
}
.intro-list-active .intro-list-content:after{
    border-color:transparent #FFF8F0 transparent transparent;
}

.footer-btn{
    position: relative;
    top: 30px;
    text-align: center;
    clear: both;
    padding-bottom: 30px;
}
.common-btn{
    display: inline-block;

}
.common-btn span{
    text-decoration: none;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    color: #ffffff;
    font-size: 16px;
    background: #18b408;
}
.common-btn span:hover{
    background:#70b412;
}
.apply-finish{
    text-align: center;
    font-family: 微软雅黑;
}
.apply-finish-header{
    padding-top:50px;
}
.apply-finish-msg{
    font-weight: bold;
    font-size: 24px;
    color: #009899;
    margin-top: 30px;
}

.apply-finish-footer{
    margin-top: 100px;
}
.apply-finish-footer p{
    font-size: 16px;
    font-weight: bold;
    color: #4C4C4C;
    letter-spacing:1px;
    line-height: 45px;
}
.apply-finish-footer p span{
    color: red;
}
.apply-finish-footer p a{
    color: #009999;
}
.waitexpert{
    height: 400px;
    position: relative;
}
.waitexpert-con{

}
.waitexpert-con img{
    display: block;
    margin: 50px auto;
}
.waitexpert-con span{
    display: block;
    margin-left: 405px;
    font-size: 24px;
    color: #18b408;
}
.waitexpert-btn{
    position: absolute;
    left: 50%;
    margin-top: 106px;
    margin-left: -280px;
}
.waitexpert-btn a{
    float: left;
    margin:0 50px;
    background: #18b408;
}
.waitexpert-btn a:hover{
    background: #70b412;
}
/*流程图end*/
/*时间轴 病历start*/
.detailmore{
    margin-top: 75px;
    margin-left: 64px;
    width: 80%;
    font-size: 15px;
    line-height: 36px;
}
.detailmore b{
    color: #ec6349;
}
.detailmore span{

}
.detailmore img{
    width: 100px;
}
/*时间轴 病历end*/